/*VARIABLES */
/*Colors*/
/*Colors*/
/*FontSize*/
/*FontSize*/
/*BorderRadius*/
/*BorderRadius*/
/*FontWeight*/
/*FontWeight*/
/*VARIABLES */
body {
  width: 100%;
  box-sizing: border-box;
}

/* HEADER */
.navbar {
  z-index: 99;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.navbar.navbar-light {
  border-bottom: none;
}
.navbar.navbar-light .form-control {
  box-shadow: none;
  margin-top: 0px;
  height: 45px;
  padding-left: 5%;
}
.navbar .header-logo {
  width: 132px;
  height: 34px;
}

/* HERO */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.main-nav::before {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 0px;
  bottom: 60px;
  background: #F3F6F9;
  z-index: -1;
}
.main-nav .main {
  max-width: 1088px;
  margin: auto;
  width: 100%;
  padding: 0px 15px;
}
.main-nav .main .breadcrumb {
  margin-bottom: 28px;
  margin-top: 12px;
}
.main-nav .main h1 {
  width: 80%;
}
.main-nav .main p {
  font-size: 13px;
}
.main-nav .main .text-subtitle {
  font-size: 19px;
  margin-bottom: 2.5rem;
  max-width: 80%;
}
.main-nav .main-cards .card {
  border-left: 8px solid #FFDB2E;
}
.main-nav .main-cards .card:hover {
  box-shadow: 0 0 0 2px #f3f6f9;
}
.main-nav .main-cards .card .card-title {
  font-size: 21px;
  font-weight: 600;
}
.main-nav .main-cards .card:nth-child(3) {
  margin-top: 0px;
}

/* HERO */
/* Form */
.main-form {
  overflow: hidden;
  border-radius: 16px;
  background-color: #cffbe2;
  max-width: 1060px;
  width: 100%;
  padding: 35px 30px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.main-form .main {
  width: 70%;
  z-index: 999;
}
.main-form .main h3 {
  font-size: 28px;
}
.main-form .main p {
  font-size: 19px;
}
.main-form .main .form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-form .main .form .form-wrapper {
  width: 48%;
}
.main-form .main .form .form-wrapper .form-control {
  background: white;
  box-shadow: none;
  border-radius: 4px;
}
.main-form .main .form .form-wrapper .form-control:focus {
  outline: inset;
}
.main-form .main .btn-wrapper {
  margin-top: 8px;
}
.main-form .main .btn-wrapper .btn {
  padding: 12px 16px;
  max-height: 50px;
}
.main-form .image-form {
  position: absolute;
  right: 0px;
  margin-right: -60px;
  width: 400px;
  height: 285px;
  background-image: url("../img/imageForm/grupo2.png");
  background-position: 0px 30px;
  background-repeat: no-repeat;
  background-size: 400px;
  bottom: 0px;
}

/* Form */
/* Article Service*/
.main-service {
  margin-top: 64px;
  margin-bottom: 80px;
}
.main-service .service h2 {
  margin-bottom: 24px;
  font-weight: 600;
}
.main-service .service .card-deck .card .card-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.main-service .service .card-deck .card .card-icon img {
  width: 32px;
}
.main-service .service .card-deck .card .card-title {
  color: #007BC7;
  font-weight: 600;
  font-size: 21px;
}

/* Article Service*/
/* seccion School */
.main-school {
  display: none;
}

/* seccion School */
/* Article Enlace*/
.article-section {
  margin-bottom: 80px;
}
.article-section h2 {
  margin-bottom: 24px;
  font-weight: 600;
}
.article-section .card-simple .card-body {
  padding: 24px;
  background: #F3F6F9;
  border-radius: 0px 0px 16px 16px;
}
.article-section .card-simple .card-body .card-title {
  color: #007BC7;
  font-weight: 400;
  font-size: 21px;
  text-decoration: underline;
}
.article-section .card-simple:hover {
  box-shadow: none;
}

/* Article Enlace*/
/* Main data*/
.main-data {
  background: #F3F6F9;
  padding: 40px 8%;
  margin-bottom: 80px;
}
.main-data .container h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 24px;
}
.main-data .container p {
  font-size: 19px;
  width: 90%;
}
.main-data .container .btn-wrapper .btn {
  max-height: 50px;
  padding: 12px 16px;
}
.main-data .container .btn-wrapper .btn-primary {
  margin-right: 24px;
  margin-bottom: 0px;
  font-size: 18px;
  border-radius: 4px;
}
.main-data .container .btn-wrapper .btn-secondary {
  font-size: 18px;
  border-radius: 4px;
}

/* Main data*/
/* Main List */
.main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-list .main {
  width: 50%;
  min-width: 460px;
  margin-bottom: 60px;
}
.main-list .main h2 {
  font-weight: 600;
}
.main-list .main p {
  font-size: 19px;
}
.main-list .main .see-more {
  margin-bottom: 27px;
}
.main-list .main .see-more .btn-primary {
  border-radius: 4px;
  font-size: 16px;
}
.main-list .main .card {
  margin-top: 0px !important;
}
.main-list .main .card .card-body {
  display: flex;
  align-items: center;
}
.main-list .main .card .card-body .card-text {
  margin: 0px;
  width: 65%;
  font-weight: 600;
  font-size: 17px;
}
.main-list .main .card.card-horizontal.card-simple.card-horizontal .card-img-left {
  width: 4rem;
  height: 4rem;
  margin: 15px 15px 15px 0px;
}
.main-list .main:nth-child(2) {
  padding-left: 4%;
}
.main-list .questions {
  margin: 15px;
}

/* Main List */
/*main-banner*/
.main-banner {
  background-color: #F3F6F9;
  padding: 40px 0px;
  text-align: center;
}
.main-banner h6 {
  margin-bottom: 30px;
}
.main-banner .container:nth-child(1) {
  justify-content: center;
}
.main-banner .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-banner .container .external {
  text-decoration: none;
}

/*main-banner*/
/*main-Footer*/
.main-footer {
  padding-bottom: 1.5rem;
}
.main-footer .container {
  max-width: 1120px;
}
.main-footer .main-phone {
  display: flex;
  justify-content: space-between;
}
.main-footer .main-phone img {
  width: 110px;
  height: 37px;
  margin-bottom: 24px;
}
.main-footer .main-phone > section > ul,
.main-footer .main-phone > section > div {
  padding-left: 20px;
}
.main-footer .main-phone .list-inline {
  display: flex;
  flex-wrap: wrap;
}
.main-footer .main-phone .list-inline .list-inline-item:not(:last-child) {
  margin-right: 50px;
}
.main-footer .main-phone .list-inline .list-inline-item:not(:first-child) {
  max-width: 85px;
}
.main-footer .main-phone .list-inline .list-inline-item a {
  text-decoration: underline;
}
.main-footer .main-phone .list-inline .list-inline-item a p {
  color: #6f7782;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
}
.main-footer .main-phone .list-inline .list-inline-item.phone-items:first-child {
  font-size: 18px;
  margin-right: 70px;
}
.main-footer .main-phone .list-inline .list-inline-item.phone-items:first-child a {
  display: block;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 400;
  text-decoration: underline;
}
.main-footer .main-redsocial {
  display: flex;
}
.main-footer .main-redsocial .redsocial {
  margin-left: 5%;
}
.main-footer .main-redsocial .redsocial .list-inline-item a p {
  display: none;
}
.main-footer .divider {
  width: 90%;
  margin: 3.063rem auto 1.5rem;
  border-top: 2px solid white;
}
.main-footer .footer-legal-section .row .footer-content-img .img-vamos-ba {
  width: 200px;
  height: auto;
}

/*main-Footer*/
/* MEDIA QUERIES */
@media (max-width: 1120px) {
  /*Form consultar mi resultado*/
  .main-form .main {
    width: 100%;
  }
  /*Lista prevencion y sintomas*/
  .main-list .main {
    min-width: 50%;
  }
  /* Footer */
}
@media (max-width: 750px) {
  .navbar.navbar-md {
    height: 64px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
  }
  .main-nav {
    margin-bottom: 30px;
  }
  .main-nav .main .breadcrumb {
    margin: 0px 0px 8px;
  }
  .main-nav .main p {
    margin-bottom: 0.5rem;
  }
  .main-nav .main .text-subtitle {
    max-width: 100%;
  }
  .main-nav .main-cards .card-body {
    padding: 1.5rem 1rem;
  }
  /*Form consultar mi resultado*/
  .form-consult {
    padding: 0px;
  }
  .form-consult .main-form {
    padding: 32px 14px 0px;
    border-radius: 0px;
  }
  .form-consult .main-form .main .form {
    flex-direction: column;
  }
  .form-consult .main-form .main .form .form-wrapper {
    width: 100%;
  }
  .form-consult .main-form .image-form {
    width: 100%;
    height: 280px;
    background-position: 0px 10px;
    position: initial;
    background-size: 100%;
  }
  /*Servicios generales*/
  .main-service {
    margin-top: 48px;
    margin-bottom: 60px;
  }
  .main-service .main .card {
    margin-bottom: 32px;
  }
  /*ARTICLE SECTION */
  .article-section .card-simple {
    margin-bottom: 25px;
  }
  /*ARTICLE SECTION */
  /*Escuelas*/
  .main-school {
    margin-bottom: 60px;
    display: block;
  }
  .main-school h2 {
    font-weight: 600;
    margin-bottom: 24px;
  }
  .main-school .card-deck .card .card-body {
    padding: 1.5rem 1rem;
  }
  .main-school .card-deck .card .card-body .card-title {
    font-size: 21px;
    font-weight: 600;
  }
  .main-school .card-deck .card:nth-of-type(n+2) {
    margin-top: 20px;
  }
  /*Informes en datos*/
  .main-data {
    padding: 40px 0%;
  }
  .main-data h2 {
    margin-bottom: 16px;
  }
  .main-data .container .btn-wrapper .btn-primary {
    margin-bottom: 16px;
  }
  /*Lista prevencion y sintomas*/
  .main-list .main {
    width: 100%;
    min-width: 100%;
  }
  .main-list .main .card .card-body .card-text {
    width: 100%;
    font-weight: 400;
  }
  .main-list .main .card.card-horizontal {
    flex-direction: row;
    margin-bottom: 0px;
  }
  .main-list .main .card.card-horizontal .card-img-left {
    margin-left: 0px;
  }
  .main-list .main .questions {
    margin-left: 0px;
  }
  .main-list .main:nth-child(2) {
    padding: 0px;
    margin-bottom: 30px;
  }
  /*Banner de enlaces*/
  .main-banner {
    text-align: start;
  }
  .main-banner .container {
    flex-direction: column;
  }
  .main-banner .container h6 {
    font-weight: 400;
  }
  .main-banner .container.link .card-deck {
    margin-bottom: 15px;
  }
  /*Footer*/
  .main-footer .main-phone {
    flex-direction: column;
  }
  .main-footer .main-phone > section > ul,
.main-footer .main-phone > section > div {
    padding-left: 0;
  }
  .main-footer .main-phone .list-inline {
    flex-direction: column;
  }
  .main-footer .main-phone .list-inline .list-inline-item a {
    display: flex;
    text-decoration: underline;
  }
  .main-footer .main-phone .list-inline .list-inline-item a p {
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .main-footer .main-phone .list-inline .list-inline-item:not(:first-child) {
    max-width: initial;
  }
  .main-footer .main-redsocial {
    flex-direction: column;
  }
  .main-footer .main-redsocial .redsocial {
    margin-left: 0;
  }
  .main-footer .main-redsocial .redsocial .list-inline-item a {
    text-decoration: none;
  }
  .main-footer .main-redsocial .redsocial .list-inline-item a p {
    display: block;
    text-decoration: underline;
    margin-left: 6px;
  }
}
@media (max-width: 280px) {
  .form-consult .main-form .image-form {
    height: 160px;
  }
}

/*# sourceMappingURL=styles.css.map */
